{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-standard"
  ],
  "rules": {
    "rule-empty-line-before": null,
    "block-closing-brace-empty-line-before": null,
    "color-hex-case": null,
    "at-rule-empty-line-before": null,
    "number-leading-zero": null,
    "no-missing-end-of-source-newline": null,
    "at-rule-no-unknown": null,
    "selector-pseudo-element-colon-notation": null,
    "no-descending-specificity": null,
    "no-eol-whitespace": null,
    "indentation": null
  }
}