.part-banner {
  min-height: 80vh;
  background-image: url("../../img/projects/odisplay.jpg");
  background-size: cover;
  margin-bottom: 3rem;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $teal;
    opacity: 0.5;
  }
  .content {
    position: absolute;
    color: $white;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
  }
}
