body.scrolled .brand-logo {
  font-size: 1.2rem;
}
.brand-logo {
  margin-right: auto;
  text-decoration: none;
  z-index: 1060;
  &:hover {
    text-decoration: none;
  }
  span {
    color: $font-color-base;
    font-family: $font-family-base;
    font-size: 1.5rem;
    padding: 1rem;
    transition: all 200ms ease;
  }
}
