nav.nav-social {
  opacity: 1;
  ul {
    @include reset-list();

    display: flex;
    align-items: center;
    li {
      margin: $header-links-margin;
      font-size: 1.2rem;
      opacity: 0.8;
      transition: all 200ms ease;
      &:hover {
        opacity: 1;
      }
    }
  }
  i {
    color: $black;
  }
  a {
    @include flex-col-center();
  }
  svg {
    height: 24px;
    width: 24px;
    &.linkedin {
      height: 20px;
      width: 20px;
    }
  }
}

body.is-menu-open nav.nav-social {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 200%);
  animation: fromBottom 300ms 1s forwards;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  svg {
    height: 32px;
    width: 32px;
    &.linkedin {
      height: 24px;
      width: 24px;
    }
  }
}
