.profile-cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $white;
  margin: 1rem 0;
  flex-basis: calc(33% - 1rem);
  min-height: 365px;
  z-index: 100;
  box-shadow: 0 10px 32px 0 rgba(74, 74, 74, 0.25);
  transition: box-shadow 200ms ease;
  .inner {
    padding: 1rem;
    height: 100%;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    height: 40px;
    svg {
      fill: $profile-icon-color;
      stroke: $profile-icon-color;
      width: 40px;
      height: auto;
      overflow: visible;
    }
  }
  .content {
    color: $deep-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    h4 {
      text-align: center;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    div {
      font-size: 1rem;
    }
  }
  &:hover {
    box-shadow: 0 10px 32px 0 rgba(74, 74, 74, 0.4);
  }
  &:not(.flipable) {
    animation: fadeIn 200ms ease forwards;
  }
  &.flipable {
    overflow: hidden;
    background-color: transparent;
    .inner {
      background-color: $white;
    }
    .back {
      height: 0;
      opacity: 0;
    }
    &.unflipped {
      animation: flip 200ms backwards;
    }
    &.flipped {
      .inner {
        animation: flip 200ms forwards;
        overflow: hidden;
      }
      .front {
        animation: fadeOut 300ms forwards;
        opacity: 1;
        height: 0;
        overflow: hidden;
      }
      .back {
        height: auto;
        animation: fadeIn 300ms 300ms forwards;
        opacity: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .profile-cards {
    flex-direction: column;
  }
  .profile-card {
    min-height: unset;
  }
}
