@font-face {
    font-family: "portfolio-icons";
    src: url("./portfolio-icons.eot?97cdb15fb8af64aeb0dcfc11ef7fac8a?#iefix") format("embedded-opentype"),
url("./portfolio-icons.woff2?97cdb15fb8af64aeb0dcfc11ef7fac8a") format("woff2"),
url("./portfolio-icons.woff?97cdb15fb8af64aeb0dcfc11ef7fac8a") format("woff"),
url("./portfolio-icons.ttf?97cdb15fb8af64aeb0dcfc11ef7fac8a") format("truetype"),
url("./portfolio-icons.svg?97cdb15fb8af64aeb0dcfc11ef7fac8a#portfolio-icons") format("svg");
}

i[class^="portfolio-icon-"]:before, i[class*=" portfolio-icon-"]:before {
    font-family: portfolio-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.portfolio-icon-close-button:before {
    content: "\f101";
}
.portfolio-icon-eye:before {
    content: "\f102";
}
.portfolio-icon-frontend:before {
    content: "\f103";
}
.portfolio-icon-linkedin:before {
    content: "\f104";
}
.portfolio-icon-pencils:before {
    content: "\f105";
}
