@font-face {
    font-family: "portfolio-icons";
    src: url("./portfolio-icons.eot?878a2ee3453ff001d6b3249d665a3762?#iefix") format("embedded-opentype"),
url("./portfolio-icons.woff2?878a2ee3453ff001d6b3249d665a3762") format("woff2"),
url("./portfolio-icons.woff?878a2ee3453ff001d6b3249d665a3762") format("woff"),
url("./portfolio-icons.ttf?878a2ee3453ff001d6b3249d665a3762") format("truetype"),
url("./portfolio-icons.svg?878a2ee3453ff001d6b3249d665a3762#portfolio-icons") format("svg");
}

i[class^="portfolio-icon-"]:before, i[class*=" portfolio-icon-"]:before {
    font-family: portfolio-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.portfolio-icon-close-button:before {
    content: "\f101";
}
.portfolio-icon-linkedin:before {
    content: "\f102";
}
