.h2 {
  font-size: 2.275rem;
  margin-bottom: 1.5rem;
}

a.action-link {
  font-weight: 700;
  letter-spacing: .25em;
  font-size: .6875rem;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }

}

/**
 * Responsive behaviour
 */

@include media-breakpoint-down(lg) {

  .h2 {
    font-size: 1.625rem;
    margin-bottom: 1rem;
  }

}