<footer>
  <div class="container">
    <a href="#" class="brand-logo inverted">
      <div class="logo">{% include "../../img/tree6.svg" %}</div>
      <span>Jardins Cozy</span>
    </a>
    <div class="footer-links">
      <ul>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Mentions légales</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
