<footer>
    <div class="container">
        <div class="footer-links">
{# 
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Cconsectetur adipiscing</a></li>
                <li><a href="#">Fusce faucibus bibendum</a></li>
                <li><a href="#">Fusce fringilla</a></li>
                <li><a href="#">Lorem ipsum dolor</a></li>
            </ul>

            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Cconsectetur adipiscing</a></li>
                <li><a href="#">Fusce faucibus bibendum</a></li>
                <li><a href="#">Fusce fringilla</a></li>
                <li><a href="#">Lorem ipsum dolor</a></li>
            </ul>

            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Cconsectetur adipiscing</a></li>
                <li><a href="#">Fusce faucibus bibendum</a></li>
                <li><a href="#">Fusce fringilla</a></li>
                <li><a href="#">Lorem ipsum dolor</a></li>
            </ul>

            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Cconsectetur adipiscing</a></li>
                <li><a href="#">Fusce faucibus bibendum</a></li>
                <li><a href="#">Fusce fringilla</a></li>
                <li><a href="#">Lorem ipsum dolor</a></li>
            </ul> #}

        </div>
    </div>
</footer>