<header>

    <nav role="navigation" class="main-nav">
        <ul>
            <li><a href="#" class="active js-stuck-cursor">Home</a></li>
            <li><a href="#" >Projects</a></li>
            <li><a href="#" >More</a></li>
            <li><a href="#" >Contact</a></li>
            <li><a href="#"><i class="portfolio-icon-close-button"></i></a></li>
        </ul>
    </nav>


</header>