{% extends 'layout/base.html.twig' %}

{% block pageTitle %}Accueil{% endblock %}

{% block main %}

   <div class="container py-5">
       <p>
           <strong>Todo: Introduction</strong>
       </p>
    <div class="project-list">
        {% for i in 1..6 %}
        {% include "partials/project-card.html.twig", with {'index': i} %}
        {% endfor %}
    </div>

   </div>
{% endblock %}