{% extends 'layout/base.html.twig' %} {% block pageTitle %}Accueil{% endblock %}
{% block main %}
<div class="part-content">
  <div class="container">
    <h1>Content</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quisquam
      molestias ipsum nam eos quaerat dolorem amet porro impedit. Quaerat ipsum
      soluta sint illo dolores nisi sed omnis? Quas, accusamus!
    </p>
  </div>
</div>
{% endblock %}
