{% extends 'layout/base.html.twig' %} {% block pageTitle %}Accueil{% endblock %}
{% block main %} 
{% include './partials/projects.html.twig' %} 
{% include './partials/form.html.twig' %} 

{% include './components/loader.html.twig' %}

<!-- <div class="spacer-block"></div> -->
{% endblock %}
