@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin custom-scroll-bar() {

  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparentize($black, .75);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparentize($black, .85);
  }

}

@mixin flex-row-nowrap-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin background-image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}