@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparentize($black, 0.75);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparentize($black, 0.85);
  }
}

@mixin flex-row-nowrap-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin background-image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Keyframes animation

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fromRight {
  0% {
    opacity: 1;
    transform: translate(100%, -50%);
  }
  10% {
    opacity: 0;
    transform: translate(100%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, -50%);
  }
}

@keyframes fromBottom {
  0% {
    transform: translate(-50%, 200%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes reappears {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animateWave2 {
  0% {
    transform: scale(1, 0) translateX(-10%);
  }
  100% {
    transform: scale(1, 2);
  }
}
