/**
 * Bootstrap Variables
 */

// Colors
// $deep-blue: #011526;
// $red: #e83e00;
// $vibrant-green: #bef50c;
// $green: #54b500;

// $yellow: #e8e100;
// $darker-yellow: #ccc600;
// $dark-yellow: #b5b000;
// $alt-yellow: #dbd400;
// $green-yellow: #bbcb00;

// $orange: #ff8900;
// $orange-2: #ffa222;

// $ice-blue: #dbe5ea;
// $blue-gray: #dee2e3;
// $white: #fefff7;
// $gray-100: #f8f8f8;
// $gray-200: #efefef;
// $gray-300: #c6c6c6;
// $gray-400: #9d9d9d;
// $gray-500: #838383;
// $gray-600: #626262;
// $gray-900: #0e1015;
// $black: #000;

// Options
$enable-rounded: false;

// Typography
// $font-family-base: "Montserrat", sans-serif;
// $font-size-base: 0.875rem;

// $headings-font-family: "Montserrat", sans-serif;
// $headings-font-weight: 400;

// $alternate-font-family: Nunito, sans-serif;

// $font-color-base: $teal;

// Header

// Body

// Links

// Grid containers

$container-max-widths: (
  sm: 700px,
  md: 900px,
  lg: 1300px,
  xl: 1490px,
);

// Components
