footer {
  font-size: 1rem;
  padding: 1rem;
  color: $white;
  background-color: lighten($color: $teal, $amount: 0.2);
  > .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  .brand-logo {
    margin-right: 1rem;
    .logo {
      &::before {
        display: none;
      }
    }
    span {
      font-size: 1rem;
      padding: 0;
    }
    svg {
      height: 38px;
      width: 38px;
    }
  }
  .footer-links {
    ul {
      @include reset-list();

      display: flex;
      flex-direction: row;
      align-items: center;
      li:not(:last-of-type) {
        margin-right: 1rem;
      }
      a {
        color: $white;
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
