body.scrolled {
  header {
    padding: 0 3rem;
    background-color: $white;
    z-index: 1010;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  padding: 2rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: $white;
  transition: background-color 300ms ease;
  transition: padding 300ms ease;
  animation: fadeIn 300ms 5.7s forwards ease;
  z-index: 1010;
  .main-nav {
    ul {
      @include reset-list;

      display: flex;
      justify-content: center;
      align-items: center;
      li {
        text-transform: capitalize;
        margin: $header-links-margin;
        a {
          color: $font-color-base;
          opacity: 0.8;
          transition: all 200ms ease;
          font-weight: 600;

          &:hover {
            opacity: 1;
            color: $font-color-base;
            text-decoration: none;
          }
        }
      }
    }
  }
}
body.is-menu-open header {
  z-index: 1050;
  padding-right: calc(3rem + 17px);
  .brand-logo {
    .logo:before {
      background-color: $white;
      transition-delay: 300ms;
    }
    svg {
      fill: $white;
      transition-delay: 300ms;
    }
    span {
      color: $white;
      transition-delay: 300ms;
    }
  }
  .main-nav {
    animation: fromRight 300ms 300ms forwards;
    align-items: center;
    background-color: $font-color-base;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    opacity: 1;
    height: 100vh;
    top: 50%;
    transform: translate(100%, -50%);
    width: 100vw;
    ul {
      flex-direction: column;
      li {
        font-size: 1.3rem;
        a {
          color: $white;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  body.is-menu-open header {
    padding: 1rem calc(1rem + 17px) 1rem 1rem;
  }
  header {
    padding: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  header {
    .main-nav {
      display: none;
    }
  }
  body.is-menu-open header {
    padding: 1rem calc(1rem + 17px) 1rem 1rem;
    .main-nav {
      display: flex;
      position: fixed;
      flex-direction: column;
      top: 50%;
      right: 0;
      transform: translate(100%, -50%);
      animation: fromRight 300ms 300ms forwards;
      height: 100vh;
      width: 100vw;
      background-color: $blue;
    }
  }
}
