img {
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 83px;
  overflow-x: hidden;

  &.is-menu-open {
    height: 100%;
    overflow: hidden;
    padding-right: 17px;
    transition-delay: 400ms;
  }
}

.main-wrapper {
  padding-top: 2rem;
}

div[class^="part-"],
div[class*=" part-"] {
  padding: 2rem;
}

.container {
  padding-right: $sidebar-width + 16px;
  padding-left: $sidebar-width + 16px;
}
//a {
//  cursor: none !important;
//}

/**
 * Responsive behaviour
 */

@include media-breakpoint-down(lg) {
  .container {
    padding: 0 78px;
  }
}

@include media-breakpoint-down(md) {
  .container {
    padding: 0 30px;
  }
}
