img {
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 83px;
  overflow-x: hidden;
  &.is-loading {
    max-height: 100vh;
    overflow: hidden;
  }
  &.is-menu-open {
    height: 100%;
    overflow: hidden;
    padding-right: 17px;
    transition-delay: 400ms;
  }
}

.main-wrapper {
  padding-top: 2rem;
}

div[class^="part-"],
div[class*=" part-"] {
  padding: 2rem;
}
