img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
  margin: 0;
}

div[class^="part-"],
div[class*=" part-"] {
  padding: 2rem 0;
}

.part-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}
