<div class="part-form">
  <div class="container">
    <h3 class="mb-3">Contact</h3>
    <form action="#">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nom"
          aria-label="Nom"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Prénom"
          aria-label="Prénom"
        />
      </div>

      <div class="input-group mb-3">
        <input
          type="mail"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
        />
      </div>
      <div class="input-group">
        <textarea
          rows="4"
          class="form-control"
          aria-label="Message"
          placeholder="Message"
        ></textarea>
      </div>
    </form>
  </div>
</div>