<div class="part-projects" id="projects">
  <div class="project-cards">
    {% for i in 1..3 %}
      <div class="project-card">
      <div class="thumb">
        <img src="../img/projects/odinard.png" alt="" />
      </div>
      <div class="content">
        <h3>Hotel Barrière Dinard</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
          corrupti magni fugit veritatis enim soluta, praesentium ad impedit a
          quia molestiae iusto tenetur distinctio, recusandae doloremque omnis.
          Voluptatum, quidem animi.
        </p>
      </div>
    </div>
    <div class="project-card">
      <div class="thumb">
        <img src="../img/projects/ojardin.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Autre projet</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
          corrupti magni fugit veritatis enim soluta, praesentium ad impedit a
          quia molestiae iusto tenetur distinctio, recusandae doloremque omnis.
          Voluptatum, quidem animi.
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>