@import "abstracts/variables";
@import "abstracts/mixins";

// Vendors
@import "vendors/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Fonts
@import "../fonts/icons/portfolio-icons.css";

@import "abstracts/utility";

@import "base/buttons";
@import "base/typography";

@import "layout/layout";
@import "layout/header";
@import "layout/footer";

@import 'components/custom-cusror';
@import 'components/project-list';

@import "pages/home";

/* Only for debug propose */
//@import "debug";